@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-light">@ViewData["Title"] of Web Application</h1>

<div class="text-light fw-bold">
    <h3>Danh sách thành viên:</h3>
    <ul class="redShop" style="border: 4px solid goldenrod; padding: 10px; list-style-type: none;">
        <li>Bùi Mỹ Nhân - 2151050290</li>
        <li>Nguyễn Hoàng Nam - 2151050266</li>
        <li>Trần Phúc Thịnh - 2151050431</li>
    </ul>
    
</div>
